h1 Listing products

= render 'search_form'

= link_to 'Import products to parse', new_product_path

= render partial: 'pending', locals: { products: @pending }
= render partial: 'failed', locals: { products: @failed }
